* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    height: 50px;
    border: 1px solid white;
    background-color: rgb(41, 88, 217);
    text-align: center;
    font-size: 1em;
    line-height: 4;
}

